
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://i.postimg.cc/WbczdtFg/fondo.jpg);
  background-size: cover; /* establece el tamaño de la imagen */
  background-repeat: no-repeat; /* evita que se repita la imagen */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width:748px){
  .container{
  margin: 20px;
  grid-template-columns: 1fr 1fr;
  display: block;
}
.box{
  height: 1cm;
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: content-box;
  width: 7cm;
}
button{
  float: right;
  
  padding: 6px;
  border-radius: 5px;
  background: transparent;
  color: white;
  background-color: #f5e500;
}
}
@media (max-width:768px){
  .textarea{
    height: 40%;
    width: 100%;
  }
  }
.box {
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
  min-height: 20rem;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: content-box;
}

h1 {
  margin-left: 20px;
  color: #fff;
  font-size:18px;
}

button {
  float: right;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  color: white;
  background-color: #f5e500;
  cursor: pointer;
}

button:hover {
  transition: all 0.2s ease-in-out;
  background: rgb(228, 223, 223);
  color: #000000;
}

textarea{
    width: 100%;
    height: 50%;
    font-size: 15px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav {
  height: 80px;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content:space-between ;
  padding: 0px 50px 0px 100px;
}
nav .logo{
  font-size: 33px;
  color: #fff;
  font-weight: 60px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size:18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
nav ul li a:hover{
  background: #f5e500;
  color: rgb(10, 10, 10);
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click{
  display: none;
}

@media (max-width: 940px) {
  nav ul {
    display: none;
  }
  nav .menu-btn i {
    display: block;
  }
}

#chat-interface {
  background-color: #f2f2f2;
  border-radius: 10px;
  
  height: 80%;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  opacity: 0.75;
}

#chat-header {
  text-align: center;
  margin-bottom: 20px;
}

#chat-header h2 {
  font-size: 24px;
}

#chat-body {
  overflow-y: scroll;
  
  max-height: 700px;
  margin-bottom: 20px;
}

.message-container {
  margin-bottom: 20px;
}

.user-message {
  background-color: #f5e500;
  color: rgb(19, 18, 18);
  padding: 10px;
  border-radius: 10px;
}
.bot-message {
  background-color: #0c0c0c;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border: 1px solid #ffce00;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
}

.bot-message::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
  background-color: #ffce00;
  transform: rotate(45deg);
}

#chat-input {
    position: absolute;
    bottom: 0; /* ajusta al final del contenedor */
    width: 80%; /* establece el ancho del contenedor */
}


#chat-input textarea {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

#chat-input button {
  background-color: #f5e500;
  color: rgb(2, 2, 2);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  float: right;
}

#chat-input button:hover {
  background-color: #f5e500;
  cursor: pointer;
}
.pay-button {
  /* Estilos para el botón "Submit" */
  background-color: rgb(0, 68, 255);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 8px;
  
  cursor: pointer;
}
#bg {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffce00;
}

#nameForm {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: #f5f5dc;
  padding: 10px;
  text-align: center;
  border: 5px solid #ffce00;
  border-radius: 20px;
}

#nameInput {
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #f5f5dc;
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  
}

#nameFormButton {
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffce00;
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  transition: all 0.3s;
}
#nameFormButton:hover {
  background-color: #111;
  color: #ffce00;
  cursor:pointer;
}
